.footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright {
  text-align: center;
  font-size: 14px;
  color: rgba(255,255,255, 0.7);
}

.copyright:hover {
  color: #fff;
}
